# This file is shared between bash and zsh
# The example @see https://github.com/paulirish/dotfiles/blob/main/.exports#L1
# The solution @see https://stackoverflow.com/a/26020688

export PATH=$HOME/.dotfiles/.homebrew/bin:$HOME/bin:/usr/local/bin:$PATH
export DOTFILES_PATH=$HOME/.dotfiles
export ZSH=$HOME/.oh-my-zsh


# The Homebrew path
# default is: /opt/homebrew
export HOMEBREW_PREFIX=$DOTFILES_PATH/.homebrew

# default: /opt/homebrew/Cellar
export HOMEBREW_CELLAR=$HOMEBREW_PREFIX/Cellar

